/* app.css */
@media only screen and (min-width: 1200px) {
	.brand-logo img{
		height: 60px;
		margin: 0 15px;
	}
}


form{
	padding: 15px;
}
.ng-pristine{
	border: 1px solid black;
}
.ng-dirty{
	border: 1px solid yellow;
}
.ng-invalid.ng-dirty{
	border: 1px solid red;
}
.ng-valid.ng-dirty{
	border: 1px solid green;
}
input.ng-invalid-minlength.ng-dirty{
	border: 1px solid blue;
}